<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="connection.url">jdbc:postgresql://localhost:60897/studs</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>

        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <property name="current_session_context_class">thread</property>
        <property name="connection.pool_size">5</property>

        <property name="connection.username">s242419</property>
        <property name="connection.password">qwp105</property>

        <mapping class="entities.StockEntity"/>
        <mapping class="entities.QuoteEntity"/>
        <mapping class="entities.ConverterEntity"/>
        <mapping class="entities.TodayLimitEntity"/>
        <mapping class="entities.BenefitEntity"/>
        <mapping class="entities.RouteEntity"/>
        <mapping class="entities.StoppageEntity"/>
        <mapping class="entities.UserEntity"/>
        <mapping class="entities.FuelEntity"/>
        <mapping class="entities.TransportEntity"/>
        <mapping class="entities.RouteParamsEntity"/>
        <mapping class="entities.TransportParamsEntity"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>